body {
  font-size: 18px;
}

.PageContent {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-bottom: 20px;
  margin-top: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}